data
node_modules
.idea
configuration.json
.env
.DS_Store
binderhubconfiguration.json

 # Yarn v4
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/.yarn/install-state.gz
